notebook/.ipynb_checkpoints/Ch_02_Denoising_and_Detoning-checkpoint.ipynb
notebook/.ipynb_checkpoints/Ch_03_Distance_Metrics-checkpoint.ipynb
notebook/.ipynb_checkpoints/Ch_04_Optimal Clustering-checkpoint.ipynb
